<h1>New Passenger</h1>

<% if @passenger.errors.any? %>
  <ul class="errors">
    <% @passenger.errors.each do |field, message| %>
      <li>
        <strong><%= field.capitalize %>: </strong><%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render partial: "form", locals: { form_title: "Create a New Passenger" } %>
