<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |field, message| %>
      <li>
        <strong><%= field.capitalize %>: </strong><%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render partial: "form", locals: { form_title: "Create a New Driver" } %>
